body{
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  color: black;
}
:root {
  --color-primary: #2D3648;    /* Темно-синий */
  --color-secondary: #CBD2E0;  /* Светло-серый */
  --color-light: #EDF0F7;      /* Очень светлый серо-голубой */
}
#conteiner{
	width: 84%;
  margin: auto;
	height: auto;
}
